@{
    ViewBag.Title = "Home Page";
}

<ul class="breadcrumb">
    <li class="active">Inicio</li>
</ul>

<center>
    DATOS CARGADOS EXITOSAMENTE
</center>

<center>
    <p><h3><b>ATENCIÓN EN HOSPITAL - COVID-19</b></h3></p>
</center>

<blockquote>

    <ul>
        <li><h4>Aplicar los conocimientos adquiridos durante el curso para el desarrollo de una aplicación de software.</h4></li>
        <li><h4>Codificar soluciones para un problema dado pormedio de un enfoque Orientado a Objetos y Programación Genérica.</h4></li>
        <li><h4>Creación y manipulación de distintas estructuras de datos en C#.</h4></li>
        <li><h4>Aplicación de las mejores prácticas de desarrollo vistas en clase.</h4></li>
    </ul>

</blockquote>


<br />

<center>
    <h4>José Vinicio De León 1072619 </h4>
    <h4>Javier Andrés Morales 1210219</h4>
</center>



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />